tensorflow-cpu==2.18.0
keras==3.6.0
streamlit==1.40.0
numpy==2.0.2
matplotlib==3.9.2
pillow==11.0.0
scikit-image==0.24.0
pandas==2.2.3
opencv-python==4.10.0.84
protobuf==5.28.3
typing_extensions==4.12.2
gdown
